* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0
}
body {
    background: #eee;
    font-size: 12px;
    font-family: Verdana;
    color: #484848
}
a {
    text-decoration: none;
}
.uyeler {
    width: 500px;
    margin: 20px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px
}
.uyeler .title {
    width: 100%;
    background: #ededed;
    font-family: Verdana;
    font-size: 12px;
    padding: 10px;
    box-sizing: border-box;
}
.uyeler .icerik ul {
    margin: 0;
    padding: 0;
}
.uyeler .icerik ul li {
    list-style: none;
    margin-top: 10px;
    width: 100%;
    background: #efefef;
    box-sizing: border-box;
    padding: 5px
}
.uyeler .icerik ul li a {
    color: #484848;
    text-decoration: none;
}
.uyeler .icerik ul li a:hover {
    text-decoration: underline;
}